# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Sphinx build
docs/_build/
_build/
.doctrees/

# OS files
.DS_Store
Thumbs.dbdocs/build/

_preview_build/

watch_and_deploy.py
