div.body {
    max-width: none !important;
}

.wy-nav-content {
    max-width: none !important;
}

.track-table tr th {
    background-color: #2980B9;
    color: white;
    text-align: right;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.track-table tr:first-child th {
    border-top: 0px solid white;
    border-bottom: 0px solid white;
}

.track-table tr:last-child th {
    border-top: 0px solid white;
    border-bottom: 0px solid white;
}

.track-table p {
    line-height: 0px;
    margin-bottom: 0px;
    font-size: 95%;
}

.track-table tr td {
    white-space: normal;
}

.reference-table tr td {
    background-color: #2980B9 !important;
    color: white;
}

.large-text {
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5em;
}

.option-table td {
    white-space: normal !important;
    word-wrap: break-word;
    font-size: 100% !important;
    text-align: justify;
}

div.expandable-container {
    border: 1px solid #e1e4e5;
}

div.expandable-message:hover {
    background: #d4d4d4;
}

div.expandable-message {
    cursor: pointer;
    padding: 10px;
    background: #e1e4e5;
}

div.expandable-message-text {
    display: inline;
    font-style: italic;
}

div.expandable-message-icon {
    float: right;
    font-size: large;
}

div.expandable {
    padding: 10px;
}

.admonition.itb-design,
.admonition.itb-testing {
    background: #f1f1f1;
}

.admonition.itb-design>.admonition-title:before {
    content: "\f058";
    margin-right: 10px;
}

.admonition.itb-design>.admonition-title {
    background: #3b81bb;
    padding-top: 10px;
    padding-bottom: 10px;
}

.admonition.itb-testing>.admonition-title {
    background: #343131;
    padding-top: 10px;
    padding-bottom: 10px;
}

.admonition.itb-testing>.admonition-title:before {
    content: "\f058";
    margin-right: 10px;
}

.wy-menu-vertical li.toctree-l4.current>a,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5>a {
    background: #adadad;
}

.rst-content table code.literal {
    white-space: inherit;
}